/* === GENERAL === */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Source Sans 3", sans-serif;
  min-height: 100vh;
}

.survey-container{
  max-width: 680px;
  margin: 0.5rem auto;
  background-color: #540B0E;
  overflow: hidden;
}